.ai-image-generator{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
    gap: 10px;
}

.header{
    font-size:70px;
    font-weight: 500;
    padding-bottom: 30px;
}

.header span{
    color: #de1b89;
    font-weight:600px
}